/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/*************** Layout  ******************/
a,
a:link {
  text-decoration:none;
}
#region-sidebar-second {
  background-color: #f6f6f6;
}
#region-sidebar-second h2.block-title {
  background-color: #DFE0E0;
  padding: 15px;
}
#region-sidebar-second .content .views-row {
  border-bottom: 1px solid #DFE0E0;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
#region-sidebar-second .content .views-field-title {
  font-size:115%;
}
#region-sidebar-second .content .views-field-title a {
  padding:5px 15px;
  display:block;
}
#region-sidebar-second .content .views-field-title,
#region-sidebar-second .content .views-field-title a {
  color: #444;
  font-weight: bold;
}
#region-sidebar-second .content .views-field-title a:hover,
#region-sidebar-second .content .views-field-title a:focus {
  background-color:#54CC9C;
  color: #fff;
  transition: all 0.3s ease 0s;
}
#region-sidebar-second .content .views-field-body,
#region-sidebar-second .content .views-field-field-event-date {
  padding:0 15px;
}