/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
 #zone-menu-wrapper ul.menu li a {
   padding: .5em 1em;
 }
 #block-boxes-upper-help-box {
  margin:0;
  float: right;
 }
 .zone-user-wrapper .menu a {
  padding: 0 20px;
}
 #region-branding {
  margin: 0;
  position: relative;
  bottom: -43px;
}
#logo {
  width:100%;
}
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
.zone-user-wrapper .menu .leaf a {
  padding:10px;
  background-color:#f6f6f6;
  display:block;
}
.zone-user-wrapper .menu a:hover,
.zone-user-wrapper .menu a:focus {
  background: rgb(130, 75, 147);
  color: white;
}
.zone-user-wrapper .menu .first a:hover,
.zone-user-wrapper .menu .first a:focus {
  background-color:rgb(80, 145, 205);
}
.zone-user-wrapper .menu .last a:hover,
.zone-user-wrapper .menu .last a:focus {
  background-color:rgb(185, 185, 185);
}
.button {
  margin-top:5px;
}
#block-block-2 {
  display:none;
 }

#region-header-first { float: none; }

@media (max-width: 979px) {
  .zone-user-wrapper .menu .leaf a {
    line-height:normal;
  }
}