/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/*************** Layout  ******************/
a,
a:link {
  text-decoration:none;
}
.zone-user-wrapper .menu a {
  display: block;
  line-height: 10em;
  padding: 0 40px;
  border-left: 1px solid #ddd;
  font-weight: normal;
  font-size: 1em;
  color: #000;
  background-color:#F6F6F6;
}
.zone-user-wrapper .menu a:hover,
.zone-user-wrapper .menu a:focus {
  background: rgb(130, 75, 147);
  color: white;
}
.zone-user-wrapper .menu .first a:hover,
.zone-user-wrapper .menu .first a:focus {
  background-color:rgb(80, 145, 205);
}
.zone-user-wrapper .menu .last a:hover,
.zone-user-wrapper .menu .last a:focus {
  background-color:rgb(185, 185, 185);
}
.not-front #region-sidebar-second {
  background-color: #f6f6f6;
}
.not-front #region-sidebar-second h2.block-title {
  background-color: #DFE0E0;
  padding: 15px;
}
.not-front #region-sidebar-second .content .views-row {
  border-bottom: 1px solid #DFE0E0;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.not-front #region-sidebar-second .content .views-field-title {
  font-size:115%;
}
.not-front #region-sidebar-second .content .views-field-title a {
  padding:5px 15px;
  display:block;
}
.not-front #region-sidebar-second .content .views-field-title,
.not-front #region-sidebar-second .content .views-field-title a {
  color: #444;
  font-weight: bold;
}
.not-front #region-sidebar-second .content .views-field-title a:hover,
.not-front #region-sidebar-second .content .views-field-title a:focus {
  background-color:#54CC9C;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.not-front #region-sidebar-second .content .views-field-body,
.not-front #region-sidebar-second .content .views-field-field-event-date {
  padding:0 15px;
}
/* Secondary Menu */
#zone-menu-wrapper {
  background-color:#5091CD;
}
  #zone-menu-wrapper ul.menu {
    margin: 0;
    list-style-type: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
  }
    #zone-menu-wrapper ul.menu li {
      display: block;
      float: left;
      padding:0;
      margin:0;
    }
      #zone-menu-wrapper ul.menu li a {
        padding: .5em 2em;
        color: #fff;
        display: block;
        border-bottom: 0 solid;
        border-right: 1px solid rgba(255, 255, 255, .3);
      }
      #zone-menu-wrapper ul.menu li.last a {
        border-right:none;
      }
      #zone-menu-wrapper ul.menu li a:hover,
      #zone-menu-wrapper ul.menu li a:focus {
        border-bottom: 0 solid;
        background: rgba(255, 255, 255, .3);
      }