/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  margin: 0; padding: 0;
}

body, input, textarea, button, form, select {
  font: 100%/1.5 'Arial', sans-serif;
  color: #444;
}

a, a:link, a:visited {
  text-decoration: none;
  color: rgb(80, 145, 205);
  font-weight: bold;
  border-bottom: thin solid transparent;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover, a:active, a:focus {
  border-bottom-color: #ddd;
}

/********** Typography **********/

p { margin: 0; }
p + p { margin-top: 1.5em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: rgb(130, 75, 147);
    font-weight: 800;
    font-family: 'Arial', sans-serif;
}

h1 a, h1 a:link, h1 a:visited, h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited, h4 a, h4 a:link, h4 a:visited, h5 a, h5 a:link, h5 a:visited, h6 a, h6 a:link, h6 a:visited { color: rgb(130, 75, 147); }

h1 {
    font-size: 2em;
    line-height: 1.5;
    margin: .375em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: .5em 0;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2;
    margin: .6em 0;
}

h4 {
    font-size: 1.125em;
    line-height: 1.333333;
    margin: .666666em 0;
}

h5, h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: .75em 0;
    text-transform: uppercase;
}

/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*************** Colors ******************/

.color-1, .menu .child-color:hover { background: rgb(80, 145, 205); }
.color-2, .menu .domestic-color:hover { background: rgb(130, 75, 147); }
.color-3, .menu .teen-color:hover { background: rgb(185, 185, 185); }
.color-4 { background: rgb(223, 224, 224); }
.color-5 { background: rgb(84, 204, 156); }
.color-6 { background: rgb(82, 178, 140); }

/*************** Forms ******************/

input, textarea {
  /* Use for styling text based form elements, like name, email, password.
  Button/submit specific styles below, those will override */
  display: block;
  padding: .5em;
  margin-bottom: .75em;
  border: .25em solid #eee;
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border-color: deepskyblue;
}

input[type='button'], input[type='submit'], button, a.button {
  border: none;
  background: transparent;
  line-height: 1;
  cursor: pointer;

  background: rgb(82, 178, 140);
  padding: 1em 1.5em;
  border: .25em solid hsla(0,0%,0%,.1);
  color: white;


  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  display: block;
  margin-bottom: .75rem;
}

input[type='button']:hover, input[type='submit']:hover, button:hover, .button:hover {
  box-shadow: inset 0 0 10em hsla(0, 0%, 0%, .1);
  border-color: hsla(0,0%,100%,.1);
}

input[type='button']:focus, input[type='submit']:focus, button:focus, .button:focus,
input[type='button']:active, input[type='submit']:active, button:active, .button:active {
  box-shadow: inset 0 0 10em hsla(0, 0%, 0%, .2);
}

.btn-primary {
  font-size: 1.125em;
}

.btn-secondary {
  background: rgb(80, 145, 205);
}

.btn-tertiary {
  font-size: .875em;
  background: rgb(185, 185, 185);
}

/*************** Masthead ******************/

/*.site-name {
  display: block;
  width: 20%;
  background: url('../images/DVCAC_Logo_cmyk.png');
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  direction: rtl;
  text-indent: 10000px;
  float: left;
}*/

header {
	background: #f6f6f6;
}

ul.menu  {
  margin: 0;
  border-right: 1px solid #ddd;
}

ul.menu li {
  list-style: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu a {
  display: block;
  line-height: 9em;
  padding: 0 40px;
  border-left: 1px solid #ddd;
  font-weight: bold;
  font-size: 1em;
  color: #000;
}

.menu a:hover {
  background: rgb(80, 145, 205);
  color: white;
}

