/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  margin: 0; padding: 0;
}

body, input, textarea, button, form, select {
  font: 100%/1.5 'Arial', Tahoma, 'Helvetica Neue', Helvetica, sans-serif;
  color: #444;
}

a, a:link, a:visited {
  text-decoration: none;
  color: rgb(80, 145, 205);
  font-weight: bold;
  border-bottom: thin solid transparent;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover, a:active, a:focus {
  border-bottom-color: #ddd;
}

/********** Typography **********/

p { margin: 0; }
p + p { margin-top: 1.5em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: rgb(130, 75, 147);
    font-weight: 800;
    font-family: 'Arial', sans-serif;
}

h1 a, h1 a:link, h1 a:visited, h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited, h4 a, h4 a:link, h4 a:visited, h5 a, h5 a:link, h5 a:visited, h6 a, h6 a:link, h6 a:visited { color: rgb(130, 75, 147); }

h1 {
    font-size: 2em;
    line-height: 1.5;
    margin: .375em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: .5em 0;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2;
    margin: .6em 0;
}

h4 {
    font-size: 1.125em;
    line-height: 1.333333;
    margin: .666666em 0;
}

h5, h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: .75em 0;
    text-transform: uppercase;
}
#zone-content h2.block-title {
 font-weight:400;
 border-bottom: 4px solid #F0F0F0;
 padding:5px;
}
#zone-content .views-field-title {
  font-weight:400;
  font-size:110%;
}
#zone-content .views-field-title a {
  font-weight:400;
}
#zone-content .views-field-body {
  font-size:90%;
  font-weight:normal;
}
#zone-content .views-row {
  padding:15px;
  border-bottom:1px solid #f2f2f2;
}
#zone-content .views-row:hover,
#zone-content .views-row:focus {
  background-color:#f9f9f9;
}
#zone-content #block-views-events-block .views-field-title {
  font-weight:bold;
  font-size:95%;
}
#zone-content #block-views-events-block .views-field-title a {
  font-weight:bold;
}
#zone-content #block-views-events-block .views-field-field-event-date {
  font-size:85%;
  color:#ACACAC;
}
blockquote.jumbo {
  font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
  font-size: 18px;
  font-style: italic;
  width: 90%;
  margin: 0.25em 0 1em 30px;
  padding:0;
  line-height: 1.45;
  position: relative;
  color: #383838;
}
blockquote.jumbo:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -50px;
  top: -20px;
  color: #7a7a7a;
}
/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*************** Colors ******************/

.color-1, .menu .child-color:hover { background: rgb(80, 145, 205); }
.color-2, .menu .domestic-color:hover { background: rgb(130, 75, 147); }
.color-3, .menu .teen-color:hover { background: rgb(185, 185, 185); }
.color-4 { background: rgb(223, 224, 224); }
.color-5 { background: rgb(84, 204, 156); }
.color-6 { background: rgb(82, 178, 140); }

/*************** Forms ******************/

input, textarea {
  /* Use for styling text based form elements, like name, email, password.
  Button/submit specific styles below, those will override */
  display: block;
  padding: .5em;
  margin-bottom: .75em;
  border: .25em solid #eee;
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border-color: rgb(82, 178, 140);
}

input[type='button'], input[type='submit'], button, a.button {
  border: none;
  background: transparent;
  line-height: 1;
  cursor: pointer;

  background: rgb(82, 178, 140);
  padding: 1em 1.5em;
  border: .25em solid hsla(0,0%,0%,.1);
  color: white;


  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  display: block;
  margin-bottom: .75rem;
  text-shadow: none;
  border-radius: 0;
}

input[type='button']:hover, input[type='submit']:hover, button:hover, .button:hover {
  box-shadow: inset 0 0 10em hsla(0, 0%, 0%, .1);
  border-color: hsla(0,0%,100%,.1);
}

input[type='button']:focus, input[type='submit']:focus, button:focus, .button:focus,
input[type='button']:active, input[type='submit']:active, button:active, .button:active {
  box-shadow: inset 0 0 10em hsla(0, 0%, 0%, .2);
}

.region-content  .mc-field-group ul li { list-style-type: none; }

input[type="checkbox"], .mc-field-group li input[type="checkbox"], .mc-field-group li input[type="radio"], input[type="radio"] {
  float: left;
  width: 26px;
  margin-top: 4px;
  clear: left;
}

a.btn-primary {
  font-size: 1.125em;
}

a.btn-secondary {
  background: rgb(80, 145, 205);
}

a.btn-tertiary {
  font-size: .875em;
  background: rgb(185, 185, 185);
}
#zone-content {
  margin-top:20px;
}
/* Footer */
#zone-footer-wrapper {
  background: rgb(223, 224, 224);
  border-top: 4px solid #B9B9B9;
  font-size: .8em;
  padding: 3em 0;
  margin-top: 3em;
}
footer ul.menu {
  float:right;
}
footer ul.menu li {
  float:left;
}
footer ul.menu li a:hover,
footer ul.menu li a:focus {
  color:#824B93;
}
#region-footer-second {
  text-align:right;
}
.region-content ul, .region-content ol {
  margin: 0 0 20px 20px;
}

.region-content ul li, .region-content ol li { margin-bottom: 10px; }
    .region-content ul li { list-style-type: disc; }
    .region-content ol li { list-style-type: decimal; }
#footer-logos img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
  padding:5px 10px;
}

/* Banner Slideshow */

#views_slideshow_cycle_main_banner_slideshow-block {
  position: relative;
}
#views_slideshow_cycle_main_banner_slideshow-block .views-field-field-text {
  position: absolute;
  right: 0;
  background: rgba(255,255,255,.8);
  width: 25%;
  line-height: 1em;
  padding: 1em 2em;
  font-size: 1.5em;
  bottom: 20px;
  max-height: 200px;
  overflow: hidden;
}
.views-field-field-banner-image img {
  max-width:100%;
}

/* Breadcrumb */
.breadcrumb {
  margin: 1em 0;
  font-size: .75em;
}
  .breadcrumb a { color: #999; }

/* Share This widget */

.not-front #block-sharethis-sharethis-block { margin: 1em; }

/* Home Page node stuff hiding (Temporary fix) */
body.front #page-title,
body.front .region-inner .tabs,
body.front .region-inner .print_html {
  display: none;
}
